body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1524678714210-9917a6c619c2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    margin: 0; /* Fix */
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgba(63, 225, 112, 0.573);
    border-radius: 5px;
    font-size: 34px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.clock {
    display: flex;
    ;
}

.clock div {
    margin: 6px;
    position: relative; /* So #ampm positions correctly */
}

.clock span {
    height: 80px;
    width: 100px;
    font-size: 52px;
    font-weight: 800;
    color: #ffffff;
    background-color: rgb(117, 102, 220);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px #000000;
}

.clock .text {
    height: 30px;
    width: 100px;
    font-size: 20px;
    background-color: darkblue;
    color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(25, 123, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
